*{
	margin:0px;
	padding:0px;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	outline:0;
}
html{
	-webkit-text-size-adjust:100%;
	-ms-text-size-adjust:100%;
	font-size:10px;
	-webkit-tap-highlight-color:transparent;
}
html,body{
	font-family:Roboto, sans-serif, arial;
	font-size:14px;
	color:#242424;
	font-weight:400;
}
.container{
    width: 1500px;
    margin: 0px auto;
    display: table;

}
.width-100{
    width:100%;
    float: left;
}
.width-50{
    width: 50%;
    float: left;
}
.width-25{
    width: 25%;
    float: left;
}
.width-75{
    width: 75%;
    float: left;
}
.width-33{
    width:33%;
    float:left;	
}
.width-66{
    width:66%;
    float:left;
}
.width-62{
    width:62%;
    float:left;
}
.width-13{
    width:13%;
    float:left;
}
.width-15{
    width: 15%;
    float: left;
}
.width-85{
    width: 85%;
    float: left;
}
.main-section{
	width:100%;
	float:left;
	padding-top:70px;
	padding-bottom:70px;
}
.mt-20{
	margin-top:20px;
}
.mt-30{
	margin-top:30px;

}
.mt-50{
	margin-top:50px;
}

/*top header section start*/
.header{
    background-color: #62abf1;

}
.head-left ul{
    list-style: none;
    float: left;

} 
.head-left ul li{
    border-right: 1px solid rgba(255, 255, 255, .3);
    border-left: 1px solid rgba(255, 255, 255, .3);
    float: left;
    padding: 15px;
    color: white;

}
.head-left ul li a{
    color: white;
    text-decoration: none;

}
.notification{
    padding-top: 17px;
    padding-left: 17px;

    color: white;

}
.notification span img{
    height: 14px;
    width: 30px;

}
.notification span{
    padding-right: 10px;

}
.head-right ul{
    list-style: none;
    float: right;
}
.head-right ul li{
    border-right: 1px solid rgba(255, 255, 255, .3);
    border-left: 1px solid rgba(255, 255, 255, .3);
    float: left;
    padding: 15px;
    color: white;
}

.head-right ul li a{
    color: white;
    text-decoration: none;
}

.head-span img{
    height: 14px;
    width: 30px;
}
/*top header section ends*/
/*menu section start*/
.logo{
    padding-top: 5px;
    padding-bottom: 5px;

}
.logo img{
    height: 75px;
}
.menu-bar{
    background: rgb(58, 97, 240);
    text-align: center;
}
.menu-bar ul{
    display: inline-flex;
    list-style:none;
    color: #fff;
}
.menu-bar ul li{
    width: 85px;
    margin: 15px;
    padding: 20px;
}
.menu-bar ul li a{
    text-decoration: none;
    color:#fff;
}
.active,.menu-bar ul li a:hover{
    color:#2c05f0;
}
.sub-menu-1
{
    display:none;
}
.menu-bar ul li:hover .sub-menu-1
{
    display: block;
    position: absolute;
    background: rgb(48, 152, 248);
    margin-top: 15px;
    margin-left: -15px;
}
.menu-bar ul li:hover .sub-menu-1 ul{
    display: block;
    margin:10px;
}
.menu-bar ul li:hover .sub-menu-1 ul li{
    width: 150px;
    padding: 10px;
    border-bottom: 1px dotted #fff;
    background: transparent;
    border-radius: 0;
    text-align: left;  
}
.menu-bar ul li:hover .sub-menu-1 ul li:last-child{
    border-bottom: none;
}
.menu-bar ul li:hover .sub-menu-1 ul li a:hover{
    color:#1f2836;
}
.sub-menu-2{
    display: none;
}
.hover-me:hover .sub-menu-2{
    position: absolute;
    display: block;
    margin-top: -40px;
    margin-left: 140px;
    background: rgb(48, 152, 248);
}
/*menu section ends*/
/*banner section starts*/
.main-banner{
   width: 100%;
}
/*banner section ends*/
/*main banner section starts*/
.heading-text{
	color: #064727;
	font-size:28px;
	line-height:20px;

}
.heading-border{
	background-color:#ffc600;
	display: inline-block;
	height:3px;
	margin-bottom:0;
	margin-top:0;
	position: relative;
	width:100px;

}
.note-event{
	padding:10px;
	border:1px solid #e3e3e3;
	width:48%;
	float:left;

}
.notice-board{

    border: 5px solid #090908;
    padding: 30px;
    color: white;
    background-color: #58b5f5c7;
    width: 100%;
    float: left;
}
.notice-board ul{
	list-style:none;
	padding:0px;
	width:100%;
	float:left;
}
.notice-board ul li{
	font-size: 14px;
	margin-bottom:20px;
	width:100%;
	float:left;
}
.event-list{
	padding: 10px;
	width:100%;
	float: left;
	border-bottom: 1px solid #e1e1e1;
}
.event-date{
	width:80px;
	float:left;
	text-align:center;
	background: #63c4ed;
	color: #fff;
	padding:10px 10px;
	border-radius: 5px;
}
.event-date p{
	font-weight: 400;
}
.event-date h4{
	font-weight:400;
	font-size: 28px;
}
.event-content{
	width: 100%;
	float: left;
	margin-left: 10px;
	margin-right: 15px;	
}
/*main banner section ends*/
/*campus section starts*/
.bg-lightgrey{
    background-color: #e5eef3;
}
.about-campus{
    width:100%;
    float: left;
    padding: 20px;
}
.about-campus p{
    color: #2f3b36;
    font-size: 16px;
    margin-top: 15px;
    line-height: 23px;
}
.about-campus ul{
    list-style: none;
    margin-top: 30px;
    width: 100%;
    float: left;
}
.about-campus li{
    color: #626262;
    font-size: 15px;
    margin-bottom: 8px;
}
.about-campus li i{
    color: #27a6ed;
}
.about-year{
    margin-top: 40px;
}
.about-year h3{
    font-size: 40px;
    color: #66b7f7;
    line-height: 0;
}
.about-year h5{
    font-size: 14px;
    font-weight: 400;
    margin-top: 20px;
}
.about-campus a{
    padding: 15px;
    border: none;
    background-color: #27a6ed;
    color: white;
    border-radius: 2px;
    font-size: 14px;
    margin-top: 25px;
    float: left;
    text-decoration: none;
}
/*campus section ends*/
/*popular section starts*/
.popular-course h2{
    color: #064727;
    font-size: 28px;
}
.popular-course p{
    font-size: 14px;
    margin-top: 10px;
    line-height: 25px;
    font-weight: 400;
}
.popular-course a{
    text-decoration: none;
    color: #2358d5e0;
    float: left;
    margin-top: 20px;
}
.bg-yellow{
	background: #09d0fa;
}
.course-list{
	text-align: center;
	margin-bottom: 20px;
	padding: 20px 0px;
	width: 90%;
	float: left;
}
.course-lisr i{
	font-size: 20px;
}
/*popular section ends*/
/*gallery section starts*/
.gallery{
	width:100%;
	float:left;
	margin-top:30px;
}
.gallery img{
	height:auto;
	width:98%;
    /*image-rendering:;*/
}

/*gallery section ends*/
/*footer section starts*/
.footer-section{
	background-color:#1f2836;
	padding-top:10px;
	padding-bottom:30px;
	width:100%;
	float:left;
}
.footer-link h2{
    color: #fff;
    text-align: left;
    margin-bottom: 20px;
}
.footer-link p{
    color: white;
    line-height: 20px;
    padding: 0px 30px 0px 0px;
}
.social-icon{
    list-style: none;
    margin: 20px;
}
.social-icon li{
    float: left;
    padding-left: 10px;
}
.social-icon li a i{
    color: #fff;
    font-size: 18px;
    padding: 5px 10px;
}
.social-icon .fa-twitter{
	background: #2ed1ff;
}
.social-icon .fa-whatsapp{
	background:#4caf50;
}
.social-icon .fa-facebook{
	background:#3b5998;
}
.social-icon .fa-linkedin{
	background:#3b5998;
}
.footer-menu{
    padding: 0px;
    width: 100%;
    float: left;
    list-style: none;
}
.footer-menu li{
	width: 50%;
	float: left;
	list-style:none;
	margin-bottom: 10px;
}
.footer-menu li a{
    color: #fff;
    text-decoration: none;
}
.footer-contact{
    list-style: none;
    color: #fefafa;
    padding: 0px;
    float: left;
    width: 100%;
}
.footer-contact li{
    width: 100%;
    float: left;
    color: #fefafa;

    margin-bottom: 10px;
}
.footer-contact span{
    padding-left: 5px;
    color: #fefafa;

}
.newsletter p{
    margin-bottom: 10px;
}
.newsletter input{
    width: 100%;
    float: left;
	padding:10px;
}
.newsletter button{
	width: 100%;
    float: left;
	padding:10px;
	background-color:gold;
	margin-top:5px;
	border-radius:4px;
}
/*footer section ends*/